.borde{
	border: 2px solid #000;
}

span{
	color:black;
	text-shadow:none;
}

.buscar{
	margin: 20px;

}

.navbar{
	margin: 0 auto;
	margin-bottom: 40px;
	width: 100%;
	height: 30px;

}

input[type="text"],input[type="password"],input[type="email"]{
	font-size: 18px;
	width: 200px; 
	height: 30px;

}

.form-search{
	margin-top: 10px;
	display: inline-block; 
	top:70px;

}

.nav{
	display: inline-block;

}

.navbar-inner{
	margin: 0 auto; 
	width: 80%; 
	height: 30px;

}

section{
	/*margin-left:350px;*/

}

.barracategoria{
	text-align: center;	
	width: 170%;

}

.contenido{
	margin: 50px 300px;


}

.lblCategoria{
	border:3px solid #000;

}

.imagenArticulo{
	float: left;
	margin: 10px;
	transform:;
}

.articulo{
	margin: 20px 0 0 0;

}

.encabezado{
	background-color: black;
	margin: 10px auto;
	padding: 40px 0;
	width: 80%;

}

#btnLogin.btn{
	padding: 10px 0;
	width: 30%;

}

.registro{
	float: left;

}

#btnRegistro.btn{
	padding: 10px 0;
	font-size: 20px;
	margin: 10px auto;
	width: 25%;

}

.frmRegistrar{
	margin: 0 auto;
	width: 100%;

}

.tblAgregar{
	width: 850px;

}

.magia{
	display: none;

}

.alert{
	margin: 0 auto 0 100px;
	width: 80%;
	text-align: center;

}

.error .checkbox,
.error .radio,
.error input,
.error select,
.error textarea {
  color: #bd4247;

}

.error input,
.error select,
.error textarea {
  border-color: #bd4247;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

}

.error input:focus,
.error select:focus,
.error textarea:focus {
  border-color: #983538;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d88e90;
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d88e90;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d88e90;

}

.success .checkbox,
.success .radio,
.success input,
.success select,
.success textarea {
  color: #669533;
}

.success input,
.success select,
.success textarea {
  border-color: #669533;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.success input:focus,
.success select:focus,
.success textarea:focus {
  border-color: #4c6f26;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #99ca63;
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #99ca63;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #99ca63;
}

.registrar{
	width: 95%;
	margin-left: -430px;
}

.derecha{
	margin:10px 0 0 150px;

}

.icon-user{
	margin-right: 7px;

}

.dropdown-menu > li:hover{
  background-color: #27a0e5;
  background-image: -moz-linear-gradient(top, #2fa4e7, #1a99e2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2fa4e7), to(#1a99e2));
  background-image: -webkit-linear-gradient(top, #2fa4e7, #1a99e2);
  background-image: -o-linear-gradient(top, #2fa4e7, #1a99e2);
  background-image: linear-gradient(to bottom, #2fa4e7, #1a99e2);

}

.dropdown-menu:hover{
 	color:white;

}

.contenedor{
	border-radius: 2px;
	min-height: 75%;
	margin: 52px auto;
	width: 76%;
	padding: 0 20px;
	margin-left: 245px;
	box-shadow: 0 0 5px 2px #000;

}

.contenedorPerfil{
	width: 100%;
	margin: 0 auto;

}

.infoUsuario{
	width: 100%;
	height: 310px;

}

.btnSubir{
	text-align: center;
	margin: 10px 0 10px 0;
	width: 125px;

}

#frmModificar input[type="text"],input[type="email"]{
	width: 80%;
	height: 35px;
	font-size: 18px;

} 

#frmModificar .tblAgregar{
	font-size: 18px;
	width: 100%;
	margin 0 auto;

}

.centrar{
	text-align: center;

}

.espacio tr{
	height: 50px;

}

.pestaña{
	width: 100%;

}

.textoAnuncio{
	font-size: 15px "Helvetica",Arial,sans-serif;
	color:red;
	margin-bottom: 10px;
	display: block;

}

.seccionOpcion{
	padding: 10px;

}

#anuncio{
	margin-left: 10px;

}

#anuncio.textoAnuncio{
	font-size: 10px;

}

input[name="txtTitulo"]{
	font-size: 26px;
	padding-top: 10px;
	height: 40px;
	width: 80%;

}

.tblFotos{
	margin: 0 auto;
	width: 80%;
	box-shadow: 0px 0px 3px #000;
	border-radius: 15px;
	padding: 30px; 

}


.fldFotos{
	text-align: center;

}

#bdMatenimiento{
	background-color: #97cae4;
	margin: 0px; 
	padding: 0px;
	font: 12px Arial, Helvetica, sans-serif;
	color: #3b5564;

}

#bdMatenimiento .modeUsuario{
	height: auto;
	margin: 13px;
	margin-bottom: auto;
	padding: 0;
	font-size: 18px;
	width: 130%;
}

#bdMatenimiento .modeUsuario tr th,td{
	text-align: center;

}

#bdMatenimiento .modeUsuario tr td{
	text-align: center;

}

#bdMatenimiento .container-fluid{
	height: auto;
	margin: 13px;
	margin-bottom: auto;
	padding: 0;
	font-size: 18px;
}

#bdMatenimiento .container-fluid form .tblUsuario{
	width: 520%;

}

#tblCategoria{
	width: 80%;
	margin: 0 auto;
			
}

#tblCategoria tr,td,th{
	text-align: center;

}

#tblCategoria .excepcion tr,td,th{
	text-align: left;

}

#tblCategoria h2{
	margin: 30px;

}

#txtDescripcion{
	width: 339px;
	height: 92px;

}

.pieDePagina{
	width:900px;
	margin: 40px 0 0 60px;

}

.header{
	margin-bottom: 20px;

}

#container{
	width: auto; 
}

.navbar-inner{
	width: auto;

}

#menuMantenimiento .row-fluid .span2 .barracategoria{
	background-color: white;
	width: 220px;
	margin-top: 30%;
	border-radius: 5px;

}

#menuMantenimiento .row-fluid .span2{
	width: 210px;

}

#menuMantenimiento .row-fluid .span2 .nav h4{
	font-size: 50px;
	background-color: white;

}

#menuMantenimiento .row-fluid .span2 .barracategoria li a{
	padding: 20px 0;
	color: black;
	
}


#pantalla{
	margin: 0 auto;
	width: 750px;
	height: 540px;

}

#tblAdmins thead th {
	text-align: center;

}

#tblAdmins tbody td {
	text-align: center;

}

#tblAdmin{
	width: 50%;
	margin: 0 auto;

}

#tblAdmin tr th{
	text-align: center;

}


#tblAdmin tr td h2{
	padding: 30px;
	width: 70%;
	margin: 0 auto;

}

#tblAdmin tr th{
	width: 20%;
	margin: auto 50px;

}

#tblAdmin tr td .btn{
	width: 50%;

}

.fldAdmin{
	margin: 35px auto;
	width: 60%;

}

.fldAdmin h3{
	margin: 35px auto;
	width: 60%;

}

#error1 .alert{
	margin-left: 50%;
	float: right;

}

#map_canvas{
	width: 97%;
	height:70%;

}

#lat,#long{
	display: none;	

}

#direccion{
	width: 40%;

}

#btnAnuncio{
	padding: 10px 0;
	font-size: 20px;
	margin: 20px 0 0 38%;
	width: 25%;

}

.tblFotos tr td{
	text-align: center; 

}


textarea[name="txtDescripcion"]{
	width: 910px;
	height: 75px;
	
}

#errorFoto{
	width: 70%;
	margin: 20px auto 20px 90px;


}

#errorFoto .alert span{
	font-size: 20px;

}

.busquedaAvanzada{
	border-radius: 10px;
	box-shadow: 0 0 5px #000;
	padding: 10px;
	width: 60%;

}

.btnBuscar{
	padding: 10px 40px;
	font-size: 20px;
	width: 95%;
	margin: 10px 0 0 50px;

}

.tblAnuncios{
	margin: 15px auto;
	width: 90%;
	border: 2px solid #000;

}

.tblAnuncios tr th{
	text-align: center;
	border: 2px solid #000;

}

.info{
	color:black;
	text-align: center;

}

.info td{
	text-align: center;

}

.barraCategoriaPerfil{
	text-align: center;
	width: 200px;

}

#detalleAnuncio{
	width: 75%;
	margin-left: 300px;

}

.panelAnuncio{
	padding: 0;
	width: 45%;

}

#detalleAnuncio .panelAnuncio{
	display: inline-block;

}

#panelFotos{
	margin-right: 10px;


}

#panelFotos .panel-heading{

}

.tituloAnuncio{
	width: 98%;
	padding: 10px;
}

.negro{
	color: black;

}

.item{
	margin-left: 70px;

}

.panelAnuncio h4{
  color: white;

}

.infoUsuario{
	margin-top:30px;
	font-size:18px;
	height: 100px;
}

.panelInfoAnuncio{
	margin-left: 200px;

}

.panel{
	padding: 15px;
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius :4px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
	box-shadow: 0 1px 1px rgba(0,0,0,0.05)}
	.panel-heading{padding:10px 15px;
    margin:-15px -15px 15px;
    background-color:#f5f5f5;
    border-bottom:1px solid #ddd;
    border-top-right-radius:3px;
    border-top-left-radius:3px
 }

 .panel-title{margin-top:0;margin-bottom:0;font-size:17.5px;font-weight:500}

 .panel-footer{
	 padding:10px 15px;margin:15px -15px -15px;background-color:#f5f5f5;border-top:1px solid #ddd;
	 border-bottom-right-radius:3px;border-bottom-left-radius:3px
 }

 .panel-primary{border-color:#2fa4e7}

 .panel-primary .panel-heading{color:#fff;background-color:#2fa4e7;border-color:#2fa4e7}

 .panel-success{border-color:#d6e9c6}
 .panel-success .panel-heading{color:#468847;background-color:#dff0d8;border-color:#d6e9c6}.panel-warning{border-color:#fbeed5}.panel-warning .panel-heading{color:#c09853;background-color:#fcf8e3;border-color:#fbeed5}.panel-danger{border-color:#eed3d7}.panel-danger .panel-heading{color:#b94a48;background-color:#f2dede;border-color:#eed3d7}.panel-info{border-color:#bce8f1}

.panel-info .panel-heading{
	color:#3a87ad;
	background-color:#d9edf7;
	border-color:#bce8f1

}

.panel-primary .panel-title{color:#fff}.panel-success .panel-heading{color:#fff;background-color:#73a839}.panel-success .panel-title{color:#fff}.panel-warning .panel-heading{color:#fff;background-color:#dd5600}.panel-warning .panel-title{color:#fff}.panel-danger .panel-heading{color:#fff;background-color:#c71c22}.panel-danger .panel-title{color:#fff}.panel-info .panel-heading{color:#fff;background-color:#033c73}.panel-info .panel-title{color:#fff}